In [32]:
import pandas as pd

In [33]:
Nomes = open("lala.typ")
Teste = Nomes.read().splitlines() 
i=0
cols = []
for item in Teste:
    i = i + 1
    if i > 2:
        cols.append(item)
cols

['Nome', 'Numero', 'Mes']

In [39]:
df = pd.read_csv("teste.txt", sep = "|", names=cols,)
df["tipo"] = "0"
df

    Nome  Numero    Mes tipo
0  Allan      10  Março    0
1  Pedro      15  Junho    0

In [42]:
df2

0    0
1    0
Name: tipo, dtype: object

In [ ]:
df.to_csv("Allan.csv")